# compiled and generated outputs
dist
generated
*.zip

# dependencies
node_modules

# misc
*.env.*

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# Tests
coverage
.nyc_output

# IDE - VSCode
.vscode