<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Verify Email Address</title>
  </head>
  <body>
    <div>
      <p>Hi {{name}},</p>
      <p>You will need to verify your email to complete registration.</p>
      <p>Click on the button below to complete the verification process and start using your new Shadow account.</p>
      <div>
        <a href='https://accounts.shadow-apps.com/verify-email?code={{code}}'></a>
      </div>
      <p>If the button isn't working, simply copy and paste the following address into your browser and you’ll be good to go.</p>
      <a href='https://accounts.shadow-apps.com/verify-email?code={{code}}'>https://accounts.shadow-apps.com/verify-email?code={{code}}</a>
      <p>Kind Regards,</p>
      <p>Shadow Apps</p>
    </div>
  </body>
</html>